#menu ul li{
    padding: 5px 10px;
    display:inline-block;
}

#menu ul li a{
    font-family: 'Luckiest Guy', cursive;
    font-size:26px;
    text-decoration:none;
    color:black;
}
#menu ul li a:hover{
    background-color:#95252b;
    color: black;
    border-bottom:3px solid black;
}

#menu ul {
    margin:-8px -8px 5px -9px;
    
    background-color:#95252b;
    color:white;
}

#banner {
    margin-left:-9px;
    width:1924px;
    height:500px;
}

body {
    background-color:#ea2f39;
}

.art {
    background-color:white;
    align:center;
    width:35%;
    height:auto;

}


.art-header{
    background-color:#95252b;
    list-style-type:none;
    

}

.art-header ul li{
    list-style-type:none;

}

.art-title ul li{
    display:inline-block;
}

.art-title{
    

}

.art-paragraph{

}

.art-img{

}

.date {

}